language: python
os:
    - linux
    # TODO - osx
env:
    - TOX_ENV=py27
    - TOX_ENV=py34
    # TODO if ok on travis - TOX_ENV=benchmark
before_install:
    - pip install tox
script:
    - tox -e $TOX_ENV -- --verbose
